<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<title>Habit@ - {{title}}</title>
<!-- now points at public/css/output.css -->
<link href="/css/output.css" rel="stylesheet" />
<script src="/js/chart.min.js"></script>
