<!-- src/views/partials/head.hbs -->
<!DOCTYPE html>
<html lang="en" class="h-full font-sans bg-gray-50 text-gray-800">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>

  <title>Habit-@</title>

  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet"/>

  <link href="/static/css/output.css" rel="stylesheet"/>
</head>
<body class="h-full flex">
