<head>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>

{{!Navigation bar}}
<style>

    /* Ensure the sidebar takes up a fixed width and doesn't overflow */
    #sidebar {
        width: 20%; /* Adjust the width as needed */
        position: fixed; /* Fix the sidebar to the left */
        top: 0;
        left: 0;
        height: 100%;
        background-color: #f8f9fa; /* Optional: change the background color */
        /*padding-top: 20px;*/ /* Adds space from the top */
        text-align: center;
        justify-content: center;
    }

    /* Adjust the nav links to prevent them from being too wide */
    #sidebar .nav-link {
        # display: block;
        # padding: 10px 15px; /* Adds some space around the text */
        # width: 18%; /* Ensure links are full width of the sidebar */
        # text-align: center;
        text-align: left;
        margin-top: 10px;
        color: rgb(114, 114, 113);
        border-radius: 30px 30px 30px 10px;
    }

    /* Add hover effect with more specificity */
    #sidebar .nav-link:hover {
        background-color: #e9e9e9 !important;
        # color: white !important;
    }

</style>

<div id="sidebar" class="shadow-md">
    <ul class="nav flex-column">
        <li class="text-xl font-bold text-black dark:text-white">
            <span>HABIT-@</span>
        </li>
        <li class="nav-item">
            <a href="/dashboard" class="nav-link">Dashboard</a>
        </li>
        <li class="nav-item">
            <a href="/calendar" class="nav-link">Calendar</a>
        </li>
        <li class="nav-item">
            <a href="/stats" class="nav-link">Statistics</a>
        </li>
        <li class="nav-item">
            <a href="/friends" class="nav-link">Friends</a>
        </li>
        <li class="nav-item">
            <a href="/settings" class="nav-link">Settings</a>
        </li>
    </ul>
</div>
