<!doctype html>
<html lang="en">
  
  <body style="padding: 10px;">
  
  <!--Welcome back!-->
  <h3 class="border border-3 rounded-1 shadow p-3 mb-5 bg-body-tertiary rounded" style="width: fit-content; padding: 5px;">
    {{#if user}}
    Welcome back {{user}}!
    {{else}}
    Welcome back, User!
    {{/if}}
    <br>
    <small id="date" class="text-body-secondary">Current Date</small>
    
    <!--Javascript to print the current date-->
    <script>
    var today = new Date();
    var dd = String(today.getDate()).padStart(2, '0');
    var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
    var yyyy = today.getFullYear();

    today = mm + '/' + dd + '/' + yyyy;
    document.getElementById('date').innerHTML = (today);
    </script>
  </h3>

  <!--List of Habits-->
  <h4 class="">
    Today's Habits
  </h4>
  <table class="table table-striped table-hover">
    <tr>
      <th>
        Habit
      </th>
      <th>
        Status
      </th>
    </tr>
    <tr>
      <td>
        <input type="checkbox" id="habit">
        Smoke a Cigarette
      </td>
      <td>Incomplete</td>
    </tr>
    <tr>
      <td>
        <input type="checkbox" id="habit">
        Brush Teeth
      </td>
      <td>Incomplete</td>
    </tr>
  </table>

  </body>
</html>
