{{> dashboard/header }}

<div class="grid gap-6 sm:grid-cols-2 lg:grid-cols-4 mb-10">
  {{> dashboard/cards/completion }}
  {{> dashboard/cards/active }}
  {{> dashboard/cards/streak }}
  {{> dashboard/cards/friends }}
</div>

<div class="grid gap-6 lg:grid-cols-3">
  <div class="lg:col-span-2 space-y-6">
    {{> dashboard/today/header }}
    {{> dashboard/today/list }}
    {{> dashboard/today/chart }}
  </div>

  <div class="space-y-6">
    {{> dashboard/sidebar/calendar }}
    {{> dashboard/sidebar/reminders }}
    {{> dashboard/sidebar/week }}
  </div>
</div>

{{> dashboard/sidebar/quickAdd }}
{{> dashboard/modals/habitDetail }}


{{#section "scripts"}}
  <script type="module" src="/js/dashboard/main.js"></script>
  <script type="module" src="/js/habit.js"></script>
  <script type="module" src="/js/dashboard/calendar.js"></script>
{{/section}}
